<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Assignment_Signup::assignment" title="Assignment"
             module="Assignment_Signup" resource="Assignment_Signup::assignment"
             translate="title" sortOrder="30" action="assignment"/>
    </menu>
</config>
